* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #080808;
  color: #f1ecec;
  background-image: url(../public/bgpicture.jpg);
}

img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: #ebf5f7;
}

.portfolio {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #55aecc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.a{
  color: #ebf5f7;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color:#f8f8f8;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  color: #f8f8f8;
  margin-bottom: 20px;
}
h4 {
  font-size: 36px;
  color: #27bd13;
  margin-bottom: 20px;
}

.email {
  font-size: 18px;
  color: #ffffff;
}

section {
  padding: 40px 0;
}

#about h3, #projects h3, #contact h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

blockquote {
  font-style: italic;
  margin: 20px auto;
  color: #fefeff;
}

#projects ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#projects a {
  text-decoration: none;
  color: #fff5f5;
  background-color: #060806;
  padding: 10px 20px;
  border-radius: 8px;
}

#projects a:hover {
  background-color: #f0e6e6;
}

.contact a{
  font-size: 18px;
  color: #f8f8f8;
}

